# Cloudflare R2 Storage Configuration Example
VITE_R2_BUCKET_URL=https://bfda3f43ac31b00be80bcb82772eb8fa.r2.cloudflarestorage.com/mads-topup
VITE_R2_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
VITE_R2_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
VITE_R2_ENDPOINT=https://bfda3f43ac31b00be80bcb82772eb8fa.r2.cloudflarestorage.com
VITE_R2_BUCKET_NAME=mads-topup
